@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Gasoek+One&family=Koulen&family=Lilita+One&family=Molle&family=Paytone+One&family=Playball&family=Quintessential&family=Squada+One&family=Staatliches&display=swap");

    #app {
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Koulen', sans-serif;
    font-family: 'Lilita One', sans-serif;
    font-family: 'Molle', cursive;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playball', cursive;
    font-family: 'Staatliches', sans-serif;
    font-family: 'Alkatra', sans-serif;
    font-family: 'Squada One', sans-serif;
    }

  .gasoek {
    font-family: 'Gasoek One', serif;
  }
  .koulen {
    font-family: 'Koulen', serif;
  }
  .lilita {
    font-family: 'Lilita One', serif;
  }
  .molle {
    font-family: 'Molle', serif;
  }
  .paytone {
    font-family: 'Paytone One', serif;
  }
  .playball {
    font-family: 'Playball', serif;
  }
  .staat {
    font-family: 'Staatliches', serif;
  }
  .alkatara {
    font-family: 'Alkatara', serif;
  }
  .squada {
    font-family: 'Squada One', serif;
  }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.editoverlay-div {
  width: 10%;
  position: fixed; /* or position: absolute; depending on your requirements */
  top: 0;
  right: 0;
  padding-left: 1vw; 
  z-index: 1;
}


.right-justified-div {
  width: 10%;
  position: fixed; /* or position: absolute; depending on your requirements */
  top: 0;
  right: 0;
  padding-left: 1vw; 
  height: 100vh;
  z-index: 0;
  background-color: rgb(70, 0, 220); /* Replace with your desired background color */   
}

.editmode-div {
    background-color: rgb(70, 0, 220); /* Replace with your desired background color */   
}

.saveOrExitContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}


.container {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  height: 100%;

}

.container img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.headline {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
}

.selectedOverlay {
  border-style: solid;
  border-color: rgb(255, 0, 0);
  border-width: 1px;
}

.showBox {
  background-color: rgb(0 0 0 / 50%);
}

.editButton {
  display: block;
  padding: 4px;
  margin-bottom: 5px;
}


.controlButton {
  display: inline;
  padding: 4px;
  margin: 5px;
}

.header {
  margin-top: 4px;
}

.selectedHeader {
  color: white;
}

.unselectedHeader {
  color: black;
}

.selected {
  background-color: blue;
  color: white;
}

.unselected {
  background-color: gray;
  color: white;
}

.slabtexted .slabtext
    {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
    }
.slabtextinactive .slabtext
    {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: normal !important;
    *word-spacing: normal !important;
    }
.slabtextdone .slabtext
    {
    display: block;
    }
